{% extends 'company/header.html' %}
<title>{% block title %}Detail {% endblock %}</title>
<style>
    .row{
    margin:.5%;
    }
</style>
{% block content %}
<div class="container" >
    <form class="add_company" method="post" action="add_company_sub/">
        {% csrf_token %}
        <div class="row " style="margin:.5%">Company Name :
            <input name="c_name" class="form-control" placeholder="Company Name">
        </div>
         <div class="row " style="margin:.5%">Company Link :
            <input name="c_link" class="form-control" placeholder="Link">
        </div>
        <div class="row" style="text-align: center; margin:.5%" >
            <div class="submit-block table">
                <div class="col-lg-3 table-cell">
                    <button class="btn btn-small btn-primary">
                        <span class="text">Add Company</span>
                    </button>
                </div>
            </div>

        </div>
    </form>

</div>
{% endblock %}
